a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5

body
    opensans 14

h1
    opensans 48 light
    color $vermelho
    margin 0 0 .2em
    +tablet()
        font-size 40px
    +mobile()
        font-size 26px
        margin-bottom .4em
