.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.breadcrumb
    width 100%
    height 25px
    background $img('breadcrumb.png') no-repeat center left
    border-right 1px solid $vermelho
    position relative
    &:before
        content 'IEC'
        opensans 10 bold
        color #fff
        line-height 26px
        position absolute
        top 0
        left 38px
    span
        position absolute
        opensans 10 bold
        color $vermelho
        line-height 26px
        position absolute
        top 0
        left 91px
        width 184px
        text-align center

.fancybox-overlay
    background rgba($vermelho, .9)
