desktop-base-width     = 1100px
rupture.desktop-cutoff = $tablet = 1180px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$vermelho = #E83534

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';
opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
