.contato
    padding-bottom 0
    .center
        clearfix()
        .breadcrumb
            margin-bottom 45px
            +mobile()
                margin-bottom 25px
        .informacoes
            width 45%
            float left
            p
                margin 0
            .telefones
                span
                    display block
                    opensans 18 bold
            .endereco
                margin-top 15px
            +mobile()
                width 100%
        #form-contato
            width 45%
            float right
            input
            textarea
                border 1px solid rgba(#000, .3)
                width 100%
                display block
                margin-bottom 2px
                opensans 12
                color #000
                padding 3px 8px
                outline 0
            textarea
                height 100px
                resize none
            input[type='submit']
                display inline-block
                float right
                width auto
                opensans 12
                color #fff
                border 0
                background $vermelho
                padding 3px 25px
                transition background .3s
                &:hover
                    background darken($vermelho, 15)
            #form-contato-response
                display none
                border 1px solid $vermelho
                margin-bottom 5px
                padding 8px
                text-align center
                opensans 12 bold
                color $vermelho
                text-transform uppercase
            +mobile()
                width 100%
                margin-top 25px
    .mapa
        margin-top 70px
        +mobile()
            margin-top 30px
        iframe
            display block
            width 100%
            height 600px
            +tablet()
                height 400px
            +mobile()
                height 250px
