.escopo-de-negocios
    .escopos
        width 100%
        margin 35px auto 0
        +mobile()
            margin-top 20px
        +above($tablet)
            width 900px
        div
            border 1px solid $vermelho
            padding 10px
            margin-bottom 10px
            position relative
            &:before
                content ''
                position absolute
                width 0
                height 0
                border-style solid
                border-width 17px 15px 0 15px
                border-color $vermelho transparent transparent transparent
                bottom -17px
                left 50%
                transform translateX(-50%)
                z-index 2
            &:after
                content ''
                position absolute
                width 0
                height 0
                border-style solid
                border-width 17px 15px 0 15px
                border-color #fff transparent transparent transparent
                bottom -16px
                left 50%
                transform translateX(-50%)
                z-index 3
            h2
                display block
                width 100%
                margin 0
                background $img('bg.png') repeat
                text-align center
                opensans 28 light
                padding 10px
                +mobile()
                    opensans 20 light
            p
                opensans 16
                text-align center
                padding 20px
                margin 0
                +mobile()
                    opensans 14
                    padding 12px
            &:last-child
                margin-bottom 0
                &:before
                &:after
                    display none
