.home
    .banners
        width 100%
        height 350px
        position relative
        +mobile()
            height 280px
        .slide
            display block
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background-size cover
            background-position center
            .center
                clearfix()
                height 100%
        .banner-texto
            width 55%
            float left
            position relative
            top 70px
            color #fff
            +below($tablet)
                width 100%
            h2
                opensans 48 light
                margin 0
            p
                opensans 26 normal italic
                margin 0
            +mobile()
                top 50px
                h2
                    opensans 40
                p
                    font-size 20px
        #banners-pager
            width 320px
            position absolute
            left 50%
            top 50%
            z-index 102
            transform translate(230px, -50%)
            +below($tablet)
                display none
            a
                background #F0F0F0
                display block
                border 1px solid #CBCBCB
                border-bottom 0
                opensans 14
                padding 12px
                padding-left 40px
                transition color .3s
                position relative
                &:last-child
                    border-bottom 1px solid #CBCBCB
                &:before
                    content ''
                    position absolute
                    width 15px
                    height 15px
                    border 4px solid $vermelho
                    top 50%
                    margin-top -8px
                    left 12px
                    border-radius 100%
                &:after
                    content ''
                    position absolute
                    width 13px
                    height 13px
                    border 2px solid #fff
                    top 50%
                    margin-top -7px
                    left 13px
                    border-radius 100%
                    opacity 0
                    transition opacity .3s
                &:hover
                    color $vermelho
                &.cycle-pager-active
                    &:after
                        opacity 1
                    color #000 !important
                    cursor default
    .frase
        opensans 22 normal italic
        color #505050
        text-align center
        margin 50px 0 60px
        line-height 1
        +tablet()
            font-size 20px
            margin 30px 0
        +mobile()
            font-size 18px
            margin 30px 0
    .chamadas
        display flex
        flex-wrap wrap
        margin-bottom 70px
        font-size 0
        +tablet()
            margin-bottom 50px
        +mobile()
            margin-bottom 30px
        a
            display inline-block
            vertical-align top
            width 25%
            padding 0 3%
            border-left 1px dotted rgba(#000, .5)
            text-align center
            +mobile()
                width 50%
                margin-bottom 25px
                &:nth-child(2n)
                    border-right 1px dotted rgba(#000, .5)
            &:last-child
                border-right 1px dotted rgba(#000, .5)
            .imagem
                position relative
                img
                    width 100%
                    display block
                .overlay
                    position absolute
                    top 0
                    left 0
                    right 0
                    bottom 0
                    background rgba($vermelho, .8)
                    opacity 0
                    transition opacity .3s
            span
                display block
                width 100%
                opensans 16
                text-transform uppercase
                margin-bottom 20px
                transition color .3s
                +mobile()
                    opensans 14
                    margin-bottom 10px
            &:hover
                .imagem .overlay
                    opacity 1
                span
                    color $vermelho
