.institucional
    .conteudo-institucional
        margin 30px 0 60px
        +mobile()
            margin 20px 0 40px
        clearfix()
        .imagem
            width 50%
            float right
            +tablet()
                width 40%
            +mobile()
                width 100%
            img
                width 100%
                display block
    .conteudo-localizacao
        margin 30px 0 0
        +mobile()
            margin 20px 0 0
        clearfix()
        .imagens
            width 100%
            float left
            font-size 0
            margin-top 30px
            +mobile()
                margin-top 15px
            img
                display inline-block
                vertical-align top
                width 41.82%
                height auto
                &:first-child
                    margin-right 6%
                +below($tablet)
                    width 47.5%
                    &:first-child
                        margin-right 5%
    .texto
        width 45%
        float left
        +tablet()
            width 55%
        +mobile()
            width 100%
        p:first-child
            margin-top 0
