.obras-executadas
    padding-bottom 30px
    +mobile()
        padding-bottom 20px
    .thumbs
        margin-top 25px
        font-size 0
        +mobile()
            margin-top 20px
        a
            display inline-block
            vertical-align top
            width 33%
            margin-right .5%
            margin-bottom 30px
            &:nth-child(3n)
                margin-right 0
            +mobile()
                width 49%
                margin-right 1%
                margin-bottom 20px
                &:nth-child(3n)
                    margin-right 1%
                &:nth-child(2n)
                    margin-right 0
            .imagem
                position relative
                img
                    width 100%
                    display block
                .overlay
                    position absolute
                    top 0
                    left 0
                    right 0
                    bottom 0
                    background rgba($vermelho, .8)
                    opacity 0
                    transition opacity .3s
            span
                opensans 12
                width 100%
                display block
                text-align center
                margin-top 8px
                transition color .3s
            &:hover
                .imagem .overlay
                    opacity 1
                span
                    color $vermelho
