.produtos
    .produtos-categoria
        margin 20px auto 0
        width 100%
        +above($tablet)
            width 900px
        .titulo
            margin 0
            display block
            border-bottom 1px solid $vermelho
            opensans 14 bold
            color $vermelho
            padding 8px 36px
            position relative
            transition padding .3s
            &:hover
                padding-left 42px
                +below($tablet)
                    padding-left 36px
            &:before
                content ''
                position absolute
                width 15px
                height 15px
                border 4px solid $vermelho
                top 50%
                margin-top -7px
                left 12px
                border-radius 100%
            &:after
                content ''
                position absolute
                width 10px
                height 10px
                top 50%
                margin-top -5px
                right 12px
                background $img('mais.png') no-repeat center
        &.aberto
            .titulo
                background $img('bg.png') repeat
                padding-left 36px
                &:after
                    background-image $img('menos.png')
            .produtos-itens
                display block
            h3.sub-titulo
                cursor default
                &:hover
                    color #000
        .produtos-subcategoria
            border-bottom 1px solid #C8C8C8
            padding 6px 0
            h3
                text-align center
                margin 0
                opensans 14
                cursor default
                transition color .3s
                cursor pointer
                &:hover
                    color $vermelho
        .produtos-itens
            font-size 0
            padding 15px 0 10px
            text-align center
            display none
        .produto
            display inline-block
            margin 0 5px 15px
            width 182px
            vertical-align top
            +mobile()
                width 40%
                img
                    width 100%
            img
                border 1px solid #C8C8C8
                display block
                transition border .3s
            span
                display block
                width 100%
                opensans 14 bold
                margin-top 5px
            &:hover
                color $vermelho
                img
                    border 1px solid $vermelho
