footer
    background #D7D7D7
    position relative
    &:before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 20px
        background-image linear-gradient(0deg, transparent 0%, #000 100%)
        opacity .2
    > .center
        padding 20px 0
        display flex
        justify-content space-between
        +mobile()
            display block
    .col
        padding-left 10px
        border-left 1px dotted rgba(#000, .4)
        padding-right 30px
        min-width 200px
        &:last-child
            padding-right 0
        +mobile()
            display block
            width 100%
            border-left 0
            padding 0
            margin-bottom 20px
            &:last-child
                margin-bottom 0
        a
            display block
            &:hover
                color $vermelho
            &.categoria
                text-transform lowercase
        p
            margin 0
        .telefones
            span
                display block
                opensans 14 bold
        .endereco
            margin-top 10px
    .copyright
        background $vermelho
        text-align center
        padding 10px 0
        p
            margin 0
            opensans 10
            a:hover
                color #fff
            +mobile()
                span
                    display block
                    font-size 0
