header
    width 100%
    height 120px
    background #fff
    box-shadow 0 -5px 40px rgba(#000, .4)
    position relative
    z-index 102
    +mobile()
        height 90px
    .center
        clearfix()
        height 100%
    .logo
        float left
        display block
        width 180px
        height 100%
        background $img('iec.png') no-repeat center
        text-indent -9999px
        +mobile()
            width 150px
            background-size 100% auto
    #nav-desktop
        position absolute
        right 0
        top 50%
        transform translateY(-50%)
        font-size 0
        height 26px
        +below($tablet)
            display none
        a
            opensans 14
            display inline-block
            line-height 25px
            border-right 1px dotted rgba(#000, .5)
            padding 0 20px
            &:last-child
                border 0
                padding-right 0
            &:hover
            &.active
                color $vermelho
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 30px
        .lines
            display block
            width 100%
            height 4px
            background $vermelho
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $vermelho
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        width 100%
        background $vermelho
        border-bottom 4px solid darken($vermelho, 10)
        padding 20px 0
        text-align center
        z-index 106
        a
            display block
            color #fff
            opensans 14 bold
            text-transform uppercase
            text-decoration none
            padding 5px 0
            &.active
                color #000
